.Library_main{
    width: 84vw;
    height: 81.2vh;
    overflow-y: scroll ;
    background-color: rgba(19,18,19,255);
}
.Library_main::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.Library_main::-webkit-scrollbar-thumb{
    background-color:slategray;
}
#lib_text1{
    position: relative;
    top: 25vh;
    margin-left: 30vw;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lib_text2{
    position: relative;
    text-align: center;
    top: 27vh;
    margin-left: 1vw;
    color: rgb(161, 255, 161);
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}