.liked_display{
    overflow-y: overlay;
    height: 91.4%;
    width: 84vw;
}
.liked_display::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.liked_display::-webkit-scrollbar-thumb{
    background-color:slategray;
}

/* DIv for top region */
.liked_top_div{
    position: relative;
    left: 0;
}
.liked_top_div i{
    margin: 0px 20px 0px 45px;
}
#liked_playlist{
    background-image: linear-gradient(120deg,rgb(0, 0, 179),white);
    font-size: 75px;
    border-radius: 5px;
    padding: 80px 80px 70px 80px;
    color: white;
}

/* Div for buttons */
.playicon_open{
    height: 60px;
    width: 60px;
    color: black;
    margin-left: 42px;
    margin-top: 20px;
    cursor: pointer;
}
.bi-arrow-down-circle-fill{
    margin-top: 34px;
    color: rgba(32,215,97,255);
    font-size: 28px;
    margin-left: 30px;
}

/* DIV for list of names */
.liked_bottom_area{
    top: 0px;
    color: rgb(163, 163, 163);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.liked_list{
    padding: 25px 5px 50px 45px;
    width: 80vw;
    min-height: 20vh;
}
.likedtable{
    text-align: left;
    width: 95%;
    font-size: 13px;
}
.likedtable th{
    color:rgb(104, 104, 104);
}
.likedtd{
    margin-bottom: 5px;
}
.liked_span_class{
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.likedtd_img{
    padding-top: 8px;
    height: 42px;
    width: 42px;
}
.likedtd_div{
    font-size: 12px;
    padding:12px 2px 2px 15px;
    display: flex;
    flex-direction: column;
}
.likedlist2_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    background-color:rgba(99,91,92,255);
}
.bi-heart{
    z-index: 2;
}
.bi-heart-fill{
    z-index: 2;
}
.heart_icon{
    color: rgb(111, 255, 111);
    animation-name: liked;
    animation-timing-function: ease-in-out;
    animation-direction: both;
    animation-duration: 0.5s;
    animation-delay: 0;
}



/* error div */
.error_show{
    height: 38.6vh;
    position: relative;
}
.error_show span{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 15vh;
    left: 30vw;
    color: rgb(217, 217, 217);
}
#error_small_show{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 22vh;
    left: 29.6vw;
    color: rgb(103, 235, 154);
}

/* CSS for full screen */
@media screen and (min-height:790px){
    .error_show{
        height: 45.2vh;
    }
    .liked_bottom_area{
        min-height: 46.4vh;
    }
    .liked_display{
        height: 92.2%;
    }
}