/* Main */
.main{
    background-color: rgba(18,19,19,255);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:100%;
    overflow-y: scroll;
    width: auto;
}
.main::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
.main::-webkit-scrollbar-thumb{
    background-color:slategray;
}
#wish{
    margin-top: 15px;
    font-size: 1.9rem;
    font-weight: bold;
}

/* Album */
.album{
    background-image: linear-gradient(180deg,rgba(28,14,67,255),rgba(18,19,19,255));
    padding: 10px 20px 10px 55px;
}

.albumflex{
    display: flex;
    column-gap: 2.2rem;
}

.topbox_img{
    width: 4.7rem;
    height: 4.67rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.topbox{
    display: flex;
    height: 4.7rem;
    width: 23.5rem;
    border-radius: 4px;
    background-color:rgba(47,39,63,255);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.1s;
}
.topbox:hover{
    background-color:rgb(45, 30, 46);
}
.topbox_text{
    position: relative;
    padding: 1.7rem 0.4rem 1rem 1.4rem;
}
#likedalbum{
    font-size: 1.5rem;
    padding: 1.7rem 1.55rem 0.9rem 1.7rem;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* General Box */
.heading{
    width: 280px;
    font-size: 25px;
    font-weight: bold;
}
.allopt{
    margin-top: 5px;
    font-size: 13px;
    color: lightgray;
    cursor: pointer;
}
.heading_holder_main{
    display: flex;
    margin:10px 0px 18px 10px;
    column-gap: 25rem;
}
.genbox{
    padding: 15px;
    border-radius: 7px;
    height:15.2rem;
    width: 10.76rem;
    background-color: rgb(27, 26, 26);
}
.genbox_img{
    border-radius: 7px;
    height: 10.5rem;
    width: 10.5rem;
}
.genbox_text1{
    font-size: 1rem;
    font-weight: bolder;
    position: relative;
    padding: 9px 3px 5px 0px;
}
.genbox_text2{
    position: relative;
    color: lightgrey;
    font-size: 0.68rem;
    padding: 3px 3px 5px 2px;
}
.genbox_main{
    padding: 25px 20px 5px 55px;
    width:74.5rem ;
    height: 330px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.genbox_flex{
    display: flex;
    column-gap:2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.genbox_flex::-webkit-scrollbar{
    display: none;
}
.cover_box{
    position: relative;
    left: 5px;
}

/* Start from here */
.artist_cover{
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: none;
    border-radius: 7px;
    height: 270px;
    width: 204px;
    cursor: pointer;
}
.music_cover{
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: none;
    border-radius: 7px;
    height: 270px;
    width: 204px;
    cursor: pointer;
}

.artist{
    border-radius: 120px;
}
.artisttext{
    font-size: 18px;
    margin-top: 6px;
}

.playicon_design{
    display: none;
    opacity: 0;
    left: 125px;
    bottom: 87px;
    height: 55px;
    width: 55px;
    color: black;
    position: absolute;
    z-index: 3;
    transform: translateY(10px);
}

.playicon_design2{
    display: none;
    opacity: 0;
    left: 115px;
    top: 10px;
    height: 55px;
    width: 55px;
    color: black;
    position: relative;
    z-index: 3;
    transform: translateY(10px);
}

/* Animate play icon */
.animateicon{
    animation: moveup 0.4s both;
}
@keyframes moveup {
    0%{
        opacity: 0;
        transform: translateY(6px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

.animateicon2{
    animation: moveup2 0.4s both;
}
@keyframes moveup2 {
    0%{
        opacity: 0;
        transform: translateX(6px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

/* Error Div */
.error_div{
    background-image: linear-gradient(180deg,rgba(28,14,67,255),rgba(18,19,19,255));
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:100%;
    display: none;
}

.error_div i{
    position: relative;
    color:white;
    top: 20vh;
    left:35vw;
    font-size: 100px;
}
.error_div div{
    position: relative;
    color:white;
    font-weight: bolder;
    top: 24vh;
    left:24vw;
    font-size: 23px;
    height: 50px;
    width: 500px;
}

/* Responsive CSS */
@media screen and (max-width:1313px) {
    .heading_holder_main{
        column-gap: calc(11vw/0.5)
    }
}
@media screen and (max-width:1259px) {
    .albumflex{
        column-gap: 15px;
    }
    .topbox_img{
        width: 63px;
        height: 62px;
    }
    .topbox{
        height: 62px;
        width: calc(12vw*2);
    }
    #likedalbum{
        font-size: 21px;
        padding: 21px 20px 11px 21px;
    }
    .topbox_text{
        font-size: 12px;
        padding: 22px 5px 2px 18px;
    }
    #wish{
        font-size: 22px;
    }

    /* general box */
    .heading_holder_main{
        column-gap: calc(9.5vw/0.5)
    }
    .genbox{
        height:210px;
        width: 140px;
    }
    .genbox_img{
        height: 135px;
        width: 138px;
    }
    .genbox_text1{
        font-size: 13px;
    }
    .genbox_text2{
        font-size: 10px;
    }
    .genbox_main{
        width:68.5rem;
    }
    .genbox_flex{
        display: flex;
        column-gap:2.2rem;
    }
}
@media screen and (max-width:1047px) {
    .topbox{
        width: calc(11.3vw*2);
    }
    .heading_holder_main{
        column-gap: calc(32vw*0.5)
    }
    .genbox_main{
        padding: 25px 15px 5px 35px;
        width:67rem;
    }
}
@media screen and (max-width:887px) {
    .respndiv_album{
        margin-top: 18px;
        display: flex;
        column-gap: 15px;
    }
    .albumflex{
        flex-direction: column;
        row-gap: 15px;
    }
    .topbox{
        width: calc(15.2vw*2);
    }
    .heading_holder_main{
        column-gap: calc(19.6vw*0.5)
    }
    .genbox_main{
        width:62rem;
    }
}
@media screen and (max-width:747px) {
    .main{
        width: 100vw;
    }
    .topbox{
        width: calc(21vw*2);
    }
    .heading_holder_main{
        column-gap: calc(38vw*0.5)
    }
    .genbox_main{
        width:84rem;
    }
}
@media screen and (max-width:675px) {
    .topbox{
        width: calc(19vw*2);
    }
    .heading_holder_main{
        column-gap: calc(28vw*0.5)
    }
    .album{
        padding-left: 35px;
    }
    .genbox_main{
        padding: 25px 15px 5px 25px;
        width:80rem;
    }
}
@media screen and (max-width:604px) {
    .heading_holder_main{
        column-gap: calc(22vw*0.5)
    }
}
@media screen and (max-width:546px) {
    .heading_holder_main{
        column-gap: calc(14vw*0.5)
    }
}
@media screen and (max-width:488px) {
    .heading_holder_main{
        column-gap: calc(12vw*0.5)
    }
}
@media screen and (max-width:412px) {
    .heading_holder_main{
        column-gap: 0vw;
    }
}