.open_display{
    overflow-y: overlay;
    height: 91.4%;
    width: 84vw;
}
.open_display::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.open_display::-webkit-scrollbar-thumb{
    background-color:slategray;
}

/* DIv for top region */
.top_div{
    height:300px;
    position: relative;
    left: 0;
}
.open_top_heading{
    color: white;
    display: flex;
    padding-top: 30px;
    top: 0;
    z-index: 2;
    position: absolute;
    
}
.heading_text{
    font-size: 15px;
    font-weight: bold;
    padding-top: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Div for buttons */
.playicon_open{
    height: 60px;
    width: 60px;
    color: black;
    margin-left: 42px;
    margin-top: 20px;
    cursor: pointer;
}
.bi-arrow-down-circle-fill{
    margin-top: 34px;
    color: rgba(32,215,97,255);
    font-size: 28px;
    margin-left: 30px;
}

/* DIV for list of names */
.open_bottom_area{
    top: 0px;
    color: rgb(163, 163, 163);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}


/* OpenSonglist CSS */

.song_list{
    padding: 25px 5px 50px 45px;
    width: 80vw;
    min-height: 20vh;
}
.listtable{
    text-align: left;
    width: 95%;
    font-size: 13px;
}
.listtable th{
    color:rgb(104, 104, 104);
}
.tabletopline{
    border: 0px;
    background-color: rgb(104, 104, 104);
    height: 0.5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.songtd{
    margin-bottom: 5px;
}
.span_class{
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.songtd_img{
    padding-top: 8px;
    height: 42px;
    width: 42px;
}
.songtd_div{
    font-size: 12px;
    padding:12px 2px 2px 15px;
    display: flex;
    flex-direction: column;
}
.songlist_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    background-color:rgba(38,44,46,255);
}
.songlist2_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    background-color:rgba(99,91,92,255);
}
.bi-heart{
    z-index: 2;
}
.bi-heart-fill{
    z-index: 2;
}
.heart_icon{
    color: rgb(111, 255, 111);
    animation-name: liked;
    animation-timing-function: ease-in-out;
    animation-direction: both;
    animation-duration: 0.5s;
    animation-delay: 0;
}

/* Animated Class */
.activenow{
    color:rgba(30,214,97,255);
}
.activenow_class{
    color:rgba(30,214,97,255);
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}
@keyframes liked{
    0%{
        font-size: 13px;
    }
    25%{
        font-size: 15px;
    }
    50%{
        font-size: 13px;
    }
    75%{
        font-size:12px;
    }
    100%{
        font-size: 13px;
    }
}


/* about */
.about{
    padding-left: 45px;
    padding-bottom: 30px;
    color: white;
}
.aboutimg{
    height:450px;
    width:800px;
    border-radius: 10px;
    opacity: 80%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.aboutimg:hover{
    height: 460px;
    width: 820px;
    opacity: 100%;
}
.aboutflex{
    display: flex;
    column-gap: 30px;
    min-height: 65vh;
}
.aboutinfo{
    width: 380px;
    color: rgb(212, 212, 212);
    font-size: 15px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* CSS for full screen */
@media screen and (min-height:790px){
    .song_list{
        min-height: 29.3vh;
    }
    .open_display{
        overflow-y: overlay;
        height: 92.2%;
    }
}