.play {
  background-color: rgba(25, 25, 24, 255);
  width: 100%;
  display: flex;
  color: lightgrey;
  column-gap: 7.7rem;
  height: 110px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
/* left */
.left {
  padding: 10px;
  display: flex;
  height: 9vh;
  width: 22rem;
  cursor: pointer;
  overflow: hidden;
}
#playtext {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 10px 0px 18px;
}
#artist {
  color: lightgray;
  font-size: 10px;
}
.left img {
  padding-top: 4px;
  height: 60px;
  width: 60px;
}

/* middle */
.middle {
  padding-top: 5px;
  width: 40%;
}
.bttns {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 0.2vh;
}
.bttns i:hover {
  color: rgb(254, 254, 254);
  cursor: pointer;
}
.progress_bar {
  justify-content: center;
  height: 4px;
  border-radius: 4px;
  position: relative;
  top: 0px;
  width: 32rem;
}
#ctime {
  position: relative;
  top: 3px;
  padding-right: 14px;
  font-size: small;
  color: lightgray;
}
#ttime {
  position: relative;
  top: 3px;
  padding-left: 14px;
  font-size: small;
  color: lightgray;
}
#playbttn {
  font-size: 35px;
  padding-top: 10px;
  color: white;
}
#playbttn:hover {
  color: lightgray;
}
#skipstart {
  padding-top: 16px;
  font-size: 25px;
}
#skipend {
  padding-top: 16px;
  font-size: 25px;
}
#shuffle {
  padding-top: 22px;
  font-size: 15px;
}
#repeat {
  padding-top: 23px;
  font-size: 15px;
}

/* right */
.right {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  column-gap: 15px;
  margin-left: 5.5rem;
}
#volume_slider {
  position: relative;
  bottom: 2px;
  width: 90%;
  height: 3px;
}
#volume_bttn {
  font-size: 20px;
  cursor: pointer;
}
#musiclist {
  cursor: pointer;
  padding-top: 2px;
  font-size: 16px;
}

input[type="range"] {
  cursor: pointer;
}

/* CSS for full screen */
@media screen and (min-height: 790px) {
  .left img {
    padding-top: 10px;
    height: 70px;
    width: 70px;
    transition: all 0.4s;
  }
  .left {
    width: 280px;
  }
  #playtext {
    font-size: 18px;
    padding-top: 19px;
  }
  #artist {
    color: lightgray;
    font-size: 11px;
  }
  .middle {
    padding-top: 14px;
    transition: all 0.4s;
  }
  .right {
    padding-top: 42px;
    transition: all 0.4s;
  }
}

/* Responsive CSS */
@media screen and (max-width: 1419px) {
  .left {
    width: 18rem;
  }
  #playtext {
    font-size: 12px;
  }
  #artist {
    font-size: 9px;
  }
  .progress_bar {
    width: 27rem;
  }
  .right {
    margin-left:4rem;
  }
}
@media screen and (max-width: 1052px) {
  .left {
    width: 18rem;
  }
  #playtext {
    font-size: 12px;
  }
  #artist {
    font-size: 9px;
  }
  .progress_bar {
    width: 26rem;
  }
  .right {
    margin-left: 4rem;
  }
  #volume_slider {
    top: 2px;
    width: 70%;
  }
}
@media screen and (max-width: 824px) {
  .play {
    column-gap: 4rem;
  }
  .left {
    width: 22rem;
  }
  #playtext {
    font-size: 11px;
  }
  #artist {
    font-size: 7px;
  }
  .left img {
    padding-top: 20px;
    height: 50px;
    width: 50px;
  }
  .progress_bar {
    width: 24.5rem;
    height: 3px;
  }
  .right {
    margin-left: 4rem;
  }
  #volume_slider {
    top: 4px;
    width: 60%;
  }
  #playtext {
    font-size: 13px;
  }

  /* bttns */
  .bttns {
    column-gap: 15px;
    margin-left: 10px;
  }
  #ctime {
    font-size: 11px;
  }
  #ttime {
    font-size: 11px;
  }
  #playbttn {
    padding-top: 9px;
    font-size: 30px;
  }
  #skipstart {
    padding-top: 15px;
    font-size: 22px;
  }
  #skipend {
    padding-top: 15px;
    font-size: 22px;
  }
  #shuffle {
    padding-top: 20px;
    font-size: 13px;
  }
  #repeat {
    padding-top: 21px;
    font-size: 13px;
  }
}
@media screen and (max-width: 675px) {
  .left {
    width: 24rem;
  }
  #playtext {
    margin-top: 5px;
    font-size: 10px;
  }
  .left img {
    padding-top: 24px;
    height: 40px;
    width: 40px;
  }
  #volume_slider {
    display: none;
  }
  .progress_bar {
    width: 132px;
    height: 3px;
  }
  .right {
    margin-left: 6rem;
  }
}
@media screen and (max-width: 561px) {
  .left {
    width: 22rem;
    flex-direction: column;
  }
  #playtext {
    padding-top: 0;
    padding-left: 0;
    font-size: 10px;
    height:29px;
    overflow-y: hidden;
  }
  .left img {
    padding-top: 10px;
    height: 40px;
    width: 40px;
  }
  #volume_slider {
    display: none;
  }
  .right {
    margin-left: 6rem;
  }
  #ctime {
    font-size: 9px;
  }
  #ttime {
    font-size: 9px;
  }
}
@media screen and (max-width:504px) {
  .left {
    width: 22rem;
    flex-direction: column;
  }
  .left img {
    padding-top: 16px;
    height: 35px;
    width: 35px;
  }
  .progress_bar {
    width: 80px;
    height: 3px;
  }
  #playtext {
    padding-top: 0;
    padding-left: 0;
    font-size: 10px;
    height:30px;
    overflow-y: hidden;
  }
  .right {
    margin-left: 4rem;
  }
}
@media screen and (max-width:376px) {
  .left {
    width: 18rem;
    flex-direction: column;
  }
  .left img {
    padding-top: 20px
  }
  .progress_bar {
    width: 80px;
    height: 3px;
  }
  #playtext {
    padding-top: 0;
    padding-left: 0;
    font-size: 8px;
    height:19px;
    overflow-y: hidden;
  }
  #artist{
    font-size: 5px;
  }
  .right {
    margin-left: 4rem;
  }
}

@media screen and (max-width:367px) {
  .left {
    width: 16rem;
    flex-direction: column;
  }
  .left img {
    padding-top: 20px
  }
  .progress_bar {
    width: 70px;
    height: 3px;
  }
  #playtext {
    display: none;
  }
  #artist{
    display: none;
  }
  .right {
    margin-left: 5rem;
  }
}