.play {
  background-color: rgba(25, 25, 24, 255);
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  color: lightgrey;
  column-gap: 15vw;
}
/* left */
.left {
  padding: 10px;
  display: flex;
  height: 9vh;
  width: 240px;
  cursor: pointer;
}
#playtext {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 10px 0px 18px;
}
#artist {
  color: lightgray;
  font-size: 10px;
}
.left img {
  padding-top: 4px;
  height: 60px;
  width: 60px;
}

/* middle */
.middle {
  padding-top: 5px;
  width: 40%;
}
.bttns {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 0.2vh;
}
.bttns i:hover {
  color: rgb(254, 254, 254);
  cursor: pointer;
}
.progress_bar {
  justify-content: center;
  height: 4px;
  border-radius: 4px;
  position: relative;
  top: 0px;
  width: 85%;
}
#ctime {
  position: relative;
  top: 3px;
  padding-right: 14px;
  font-size: small;
  color: lightgray;
}
#ttime {
  position: relative;
  top: 3px;
  padding-left: 14px;
  font-size: small;
  color: lightgray;
}
#playbttn {
  font-size: 35px;
  padding-top: 10px;
  color: white;
}
#playbttn:hover {
  color: lightgray;
}
#skipstart {
  padding-top: 16px;
  font-size: 25px;
}
#skipend {
  padding-top: 16px;
  font-size: 25px;
}
#shuffle {
  padding-top: 22px;
  font-size: 15px;
}
#repeat {
  padding-top: 23px;
  font-size: 15px;
}

/* right */
.right {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  column-gap: 15px;
}
#volume_slider {
  position: relative;
  bottom: 2px;
  width: 90%;
  height: 3px;
}
#volume_bttn {
  font-size: 20px;
  cursor: pointer;
}
#musiclist {
  cursor: pointer;
  padding-top: 2px;
  font-size: 16px;
}

input[type='range']{
    cursor: pointer;
}

/* CSS for full screen */
@media screen and (min-height:790px){
  .left img {
    padding-top: 10px;
    height: 70px;
    width: 70px;
    transition: all 0.4s;
  }
  .left{
    width: 280px;
  }
  #playtext {
    font-size: 18px;
    padding-top: 19px;
  }
  #artist {
    color: lightgray;
    font-size: 11px;
  }
  .middle{
    padding-top: 14px;
    transition: all 0.4s;
  }
  .right{
    padding-top: 42px;
    transition: all 0.4s;
  }
}