.profile_display{
    overflow-y: overlay;
    height: 91.4%;
}
.profile_display::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.profile_display::-webkit-scrollbar-thumb{
    background-color:slategray;
}

/* DIv for top region */
.head_div{
    height:300px;
    position: relative;
    left: 0;
}
.profile_top_heading{
    color: white;
    display: flex;
    padding-top: 30px;
    top: 0;
    z-index: 2;
    position: absolute;   
}
.profile_top_heading img{
    height:235px;
    width: 235px;
    border-radius:700px;
    margin-left: 30px;
    margin-right: 15px;
}
.profile_text{
    font-size: 15px;
    font-weight: bold;
    padding-top: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* DIV for bottom region */
.profile_bottom_area{
    top: 0px;
    color: rgb(163, 163, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color:rgba(18,19,19,255);
}

/* DIV for Profile Section */
.profile_info{
    width: 80%;
    padding: 15px;
    font-size: 18px;
    color: rgb(223, 223, 223);
    font-family: cursive;
}
.profile_info h3{
    color: white;
    font-size: 35px;
    margin: 10px 0px 12px 15px;
}
.profile_info table{
    width: 70%;
}
.profile_info table td{
    width: 40%;
    height: 20px;
    padding: 15px;
}
